.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  padding: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.text {
  flex-shrink: 0;
  width: 40px;
}
