.outline {
	background-color: transparent;
	padding: 2px;
	border: 2px solid transparent;
	border-radius: 8px;
}

.inline {
	background-color: var(--figma-color-bg);
	width: 20px;
	height: 20px;
	border: 3px solid var(--figma-color-border);
	border-radius: 6px;
	&:hover {
		background-color: var(--figma-color-bg-hover);
		border-color: var(--figma-color-border-hover);
	}
}

.container {
	display: flex;
	flex-direction: row;
	gap: 2px;
	flex-wrap: wrap;
	max-width: 100%;
}

.keyIds {
	display: flex;
	flex-direction: row;
	gap: 2px;
	flex-wrap: wrap;

	max-width: 100%;
}

.keyId {
	padding: 2px 16px;
	background-color: var(--figma-color-bg);
	border: 3px solid var(--figma-color-border);
	border-radius: 6px;

	&:hover {
		background-color: var(--figma-color-bg-hover);
		border-color: var(--figma-color-border);
	}

	color: var(--figma-color-text);
}

/* 오버라이드 되는 애는 가장 아래로 */
.current {
	/* border-color: #ffc943;
	background-color: #f24822; */
	border-color: var(--figma-color-bg-danger);
	&:hover {
		border-color: var(--figma-color-border-danger-hover);
	}
}

.keyMatch {
	background-color: var(--figma-color-bg-success);
	border-color: var(--figma-color-border-success);
	&:hover {
		background-color: var(--figma-color-bg-success-hover);
		border-color: var(--figma-color-border-success);
	}
}

.selected {
	background-color: var(--figma-color-bg-warning);
	border-color: var(--figma-color-border-warning);
	&:hover {
		background-color: var(--figma-color-bg-warning-hover);
		border-color: var(--figma-color-border-warning);
	}
}
