.table {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
}

.label {
	width: 48px;
	text-align: right;
	font-weight: bold;
}
