.table {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.label {
	width: 32px;
	text-align: left;
	font-weight: bold;
	flex-shrink: 0;
}

.icon {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
}
