.wrapper {
	width: 100%;
}

.sectionItem {
	display: grid;
	/* grid-template-areas:
		'type id button'
		'name name button'
		'alias alias button'; */

	width: 100%;
	grid-template-areas:
		'type name button'
		'alias alias button';
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 2px;
	column-gap: 8px;
	padding: 8px;
}

.typeArea {
	grid-area: type;
	font-size: 10px;
	color: var(--figma-color-text-secondary);
}

.idArea {
	grid-area: id;
	white-space: nowrap;
	&:hover {
		background-color: var(--figma-color-bg-selected);
	}
}

.nameArea {
	grid-area: name;
	white-space: nowrap;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.aliasArea {
	grid-area: alias;
}

.buttonArea {
	grid-area: button;
	align-self: center;
}

.aliasArea input {
	width: 100%;
	padding: 2px 4px;
	border-radius: 4px;
}

.buttonArea button {
	width: 100%;
	height: 100%;
	background-color: var(--figma-color-bg-brand);
	border-radius: 4px;
}

.divider {
	background-color: var(--figma-color-border);
	height: 1px;
	margin: 4px 0;
}

.currentWrapper {
	display: flex;
	flex-direction: row;
	gap: 4px;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;

	.title {
		color: var(--figma-color-text-secondary);
		white-space: nowrap;
		padding: 2px 4px;
		&:hover {
			background-color: var(--figma-color-bg-selected);
		}
	}
	.content {
		font-weight: 700;
		white-space: nowrap;
	}
	.selected {
		color: var(--figma-color-bg-brand);
		font-weight: 700;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
