.box {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100px;
  min-height: 60px;
  margin: 16px;

  padding: 8px;
  border-radius: 8px;
  background-color: var(--figma-color-bg);
  border: 1px solid var(--figma-color-border);
}
