.modal_backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	opacity: 0;

	animation-duration: 0.15s;
	animation-name: fadeIn;
	animation-fill-mode: forwards;
}

.lock {
	height: 100%;
	overflow: hidden;
	touch-action: none;
	/* padding-right: var(--scroll, 15px); */
}

/* .scrollPadding {
	padding-right: var(--scroll, 15px);
} */

.close {
	opacity: 1;
	animation-name: fadeOut;
	animation-delay: 0;
	animation-duration: 0.15s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/* .origin {
	background-color: red;
}

.wrap {
	background-color: blue;
} */

.top {
	/* 위 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.bottom {
	/* 아래 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.left {
	/* 왼쪽 ( 아랫 방향 정렬로 기본 ) */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.topLeft {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
.topRight {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.rightTop {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.rightBottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.bottomLeft {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
.bottomRight {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.leftTop {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
.leftBottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
