.container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.domainContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
}

.languageCodesContainer {
	display: flex;
	flex-direction: row;
	gap: 4px;
	flex-wrap: wrap;
}

.button {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px;

	width: 100%;
	border: 1px solid var(--figma-color-border);
	&:hover {
		background-color: var(--figma-color-bg-hover);
	}
}

.tag {
	color: var(--figma-color-text-secondary);
}

.languageCode {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	/* padding: 2px 2px 2px 8px; */
	padding: 8px;

	border: 1px solid var(--figma-color-border);
}

.languageCodeInput {
	width: 40px;
	background-color: var(--figma-color-bg);
	text-align: center;
}
