.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 2px;
	margin-top: 2px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	[class^='_textbox'] {
		flex-grow: 1;
	}
}

.wrap {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.up {
	transform: rotate(180deg);
}

.iconButton {
	border-radius: 4px;
	background-color: var(--figma-color-bg);
	&:hover {
		background-color: var(--figma-color-bg-hover);
	}
	&:active {
		background-color: var(--figma-color-bg-pressed);
	}
}

.item {
	padding: 4px 8px;
	text-align: left;
	border-bottom: 1px solid var(--figma-color-border);
	background-color: var(--figma-color-bg);
	&:hover {
		background-color: var(--figma-color-bg-hover);
	}
	&:active {
		background-color: var(--figma-color-bg-pressed);
	}
}

.keyIds {
	display: flex;
	flex-direction: row;
	gap: 2px;
	flex-wrap: wrap;

	max-width: 100%;
}

.keyId {
	padding: 2px 16px;
	background-color: var(--figma-color-bg);
	border: 3px solid var(--figma-color-border);
	border-radius: 6px;

	&:hover {
		background-color: var(--figma-color-bg-hover);
		border-color: var(--figma-color-border);
	}

	color: var(--figma-color-text);
}

.keyMatch {
	background-color: var(--figma-color-bg-success);
	border-color: var(--figma-color-border-success);
	&:hover {
		background-color: var(--figma-color-bg-success-hover);
		border-color: var(--figma-color-border-success);
	}
}
