.table {
	border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid;
	text-align: left;
}

.table th {
	font-weight: bold;
}

.pagination {
	display: flex;
	justify-content: center;
}

.pageButton {
	border: 1px solid;
	cursor: pointer;
	border-radius: 3px;
}

.pageButton:disabled {
	cursor: not-allowed;
}
