.tabs {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	flex-wrap: wrap;
	gap: 4px;
}

.header {
	display: flex;
	width: 100%;
	overflow: hidden;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	.mainTitle {
		flex-grow: 1;
		font-weight: 700;
		text-align: center;
	}
	.icon {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			background-color: var(--figma-color-bg-brand-hover);
		}
		svg {
			margin: -8px;
		}
	}
}

.tab,
.setting,
.fix {
	position: relative;
	flex-grow: 2;
	padding: 6px 16px 2px;
}
.menu {
	flex-shrink: 0;
}

.setting {
	flex-grow: 1;
}
.tab {
	border-bottom: 2px solid var(--figma-color-bg-brand);

	&.active {
		background-color: var(--figma-color-bg-brand-secondary);
	}
	&:hover {
		background-color: var(--figma-color-bg-brand-hover);
	}
}
/* .tab.active {
	background-color: var(--figma-color-bg-brand-secondary);
} */

.setting {
	border-bottom: 2px solid var(--figma-color-bg-component);
	&.active {
		background-color: var(--figma-color-bg-component-secondary);
	}
	&:hover {
		background-color: var(--figma-color-bg-component-hover);
	}
}

.fix {
	border-bottom: 2px solid var(--figma-color-bg-danger);
	&.active {
		background-color: var(--figma-color-bg-danger-secondary);
	}
	&:hover {
		background-color: var(--figma-color-bg-danger-hover);
	}
}
.all {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	&.active {
		background-color: var(--figma-color-bg-brand-secondary);
	}
	&:hover {
		background-color: var(--figma-color-bg-brand-hover);
	}
}

.modal {
	display: grid;
	row-gap: 4px;
	column-gap: 8px;
	width: fit-content;

	padding: 8px;
	margin-inline: 8px;
	background-color: var(--figma-color-bg);
	border-radius: 8px;

	input {
		padding: 0 4px;
		border-radius: 4px;
	}

	.header {
		grid-area: header;
		font-weight: 700;
	}

	.main {
		grid-area: main;
	}
	.description {
		grid-area: description;

		border-radius: 4px;
	}

	.delete {
		grid-area: side;
		padding: 1px 4px;
		border-radius: 4px;
		white-space: nowrap;
		background-color: var(--figma-color-bg-danger);
		font-weight: 700;
	}
	.sub {
		color: var(--figma-color-text-secondary);
	}
	.text {
		font-weight: 400;
	}
	.submit {
		grid-area: side;
		border-radius: 4px;

		font-weight: 700;
		background-color: var(--figma-color-bg-brand);
	}
}

.add {
	width: auto;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 24px 24px 24px;
	grid-template-areas:
		'header header header'
		'main main side'
		'description description side';
}

.remove {
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		'header header'
		'main side';
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 8px;
	font-weight: 700;
	line-height: 1;
	padding: 1px 4px;
	border-radius: 12px;

	&.normal {
		/* background-color: var(--figma-color-bg-brand); */
		background-color: var(--figma-color-bg-brand-tertiary);
		/* background-color: var(--figma-color-bg-inverse); */
		/* color: var(--figma-color-text-oninverse); */
	}
	&.pinned {
		/* background-color: var(--figma-color-bg-danger); */
		background-color: var(--figma-color-bg-danger-tertiary);
		/* background-color: var(--figma-color-bg-inverse); */
		/* color: var(--figma-color-text-oninverse); */
	}
}
